<strong>Olá, {{ nome }}. sua pergunta foi respondida!</strong>
<p>
  <strong>Pergunta:</strong> {{ pergunta }}.<br />
</p>
<p>
  <strong>Resposta: </strong> {{ resposta }}.<br />
</p>
<small>
  <strong>Regards,</strong>
</small>
<br />