<strong>Olá, {{ nome }}. Seja bem vindo a nossa academia!</strong>
<p>
  Você atualmente adquiriu nosso plano! Veja mais detalhes do plano abaixo!
</p>
<p>
  <strong>Plano escolhido: </strong> {{ plano }} <br />
  <strong>Você assinou por </strong> {{ meses }} mês(es) <br />
  <strong>Seu plano acaba em </strong> {{ data }}. <br />
</p>
<small>
  <strong>Regards,</strong>
</small>
<br />
